@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
  --font-sans: "Google Sans Flex", "Google Sans", ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
  --font-heading: "Google Sans Flex", "Google Sans", sans-serif;

  --color-petroleo: #0C4773;
  --color-ceruleo: #007EAE;
  --color-posca: #F6F7F9;
}

@layer base {
  html {
    text-rendering: optimizeLegibility;
  }
  body {
    background-color: #F6F7F9 !important;
  }
}